In [35]:
import numpy as np
import pandas as pd
import tempfile

from gtfparse import read_gtf
from collections import Counter
from dataclasses import dataclass
from tqdm.notebook import tqdm

from datapaths import *

pd.set_option('display.max_rows', 4)
pd.set_option('display.max_columns', None)

In [36]:
flipon_to_data = pd.read_table(F_FLIPON_TO_DATA)
flipon_to_data

,Flipon,Coordinates,Strand,Gene Feature,Gene Name,Gene Strand,Gene Type,Gene ID,Transcript ID,c. M miR (+),c. M miR (-),c. MJ miR (+),c. MJ miR (-),c. J miR (+),c. J miR (-),all M miR (+),all M miR (-),all MJ miR (+),all MJ miR (-),all J miR (+),all J miR (-),cCRE (+-200bp),LINE/LTR (+-200bp),Feature Group
0,g4,chr1:3014794-3014871,-,Distal Intergenic,4933401J01Rik,+,TEC,ENSMUSG00000102693.1,ENSMUST00000193812.1,miR-328 (1),NaN,miR-486 (1),NaN,NaN,NaN,"miR-6994 (1), miR-129b (1)","miR-92a-2 (1), miR-698/miR-7078 (1), miR-3572 ...",miR-486a/miR-486b (1),"miR-3076 (1), miR-6418 (1), miR-6987 (1)",NaN,miR-7649 (1),NaN,"LINE@L1Md_F2(-), LINE@L1VL1(+)",LINE/LTR
1,g4,chr1:3099888-3099963,+,Promoter (2-3kb),Gm26206,+,snRNA,ENSMUSG00000064842.1,ENSMUST00000082908.1,NaN,miR-328 (1),NaN,NaN,NaN,NaN,"miR-365-1/miR-365-2 (1), miR-698/miR-7078 (1),...","miR-221 (1), miR-129b (1)","miR-6418 (1), miR-7067 (1)",NaN,NaN,NaN,NaN,"LINE@L1Md_F2(+), LTR@MTC(+)",LINE/LTR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77706,z-dna,chrY:4203100-4203146,.,Distal Intergenic,Gm28191,+,unprocessed_pseudogene,ENSMUSG00000100300.1,ENSMUST00000189112.1,NaN,NaN,miR-493 (1),NaN,NaN,NaN,"miR-466d/miR-466i (4), miR-466l (5)",NaN,miR-493 (1),NaN,NaN,NaN,NaN,LINE@L1_Mur1(-),LINE/LTR
77707,z-dna,chrY:4207093-4207113,.,Distal Intergenic,Gm28191,+,unprocessed_pseudogene,ENSMUSG00000100300.1,ENSMUST00000189112.1,NaN,NaN,NaN,NaN,NaN,NaN,"miR-466a/miR-466e/miR-466p (1), miR-466d/miR-4...",NaN,NaN,NaN,NaN,NaN,NaN,"LINE@L1_Mus3(+), LINE@L1Md_A(+), LTR@ORR1B1(+)",LINE/LTR

In [37]:
gtf = read_gtf(F_GENCODE)
gtf

/home/fpavlov/miniconda3/envs/mirna/lib/python3.11/site-packages/gtfparse/read_gtf.py:82: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  chunk_iterator = pd.read_csv(
/home/fpavlov/miniconda3/envs/mirna/lib/python3.11/site-packages/gtfparse/read_gtf.py:82: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  chunk_iterator = pd.read_csv(
INFO:root:Extracted GTF attributes: ['gene_id', 'gene_type', 'gene_name', 'level', 'mgi_id', 'havana_gene', 'transcript_id', 'transcript_type', 'transcript_name', 'transcript_support_level', 'tag', 'havana_transcript', 'exon_number', 'exon_id', 'protein_id', 'ccdsid', 'ont']

,seqname,source,feature,start,end,score,strand,frame,gene_id,gene_type,gene_name,level,mgi_id,havana_gene,transcript_id,transcript_type,transcript_name,transcript_support_level,tag,havana_transcript,exon_number,exon_id,protein_id,ccdsid,ont
0,chr1,HAVANA,gene,3073253,3074322,NaN,+,0,ENSMUSG00000102693.1,TEC,4933401J01Rik,2,MGI:1918292,OTTMUSG00000049935.1,,,,,,,,,,,
1,chr1,HAVANA,transcript,3073253,3074322,NaN,+,0,ENSMUSG00000102693.1,TEC,4933401J01Rik,2,MGI:1918292,OTTMUSG00000049935.1,ENSMUST00000193812.1,TEC,4933401J01Rik-201,NA,basic,OTTMUST00000127109.1,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302161,chrM,ENSEMBL,transcript,15356,15422,NaN,-,0,ENSMUSG00000064372.1,Mt_tRNA,mt-Tp,3,MGI:102478,,ENSMUST00000082423.1,Mt_tRNA,mt-Tp-201,NA,basic,,,,,,
1302162,chrM,ENSEMBL,exon,15356,15422,NaN,-,0,ENSMUSG00000064372.1,Mt_tRNA,mt-Tp,3,MGI:102478,,ENSMUST00000082423.1,Mt_tRNA,mt-Tp-201,NA,basic,,1,ENSMUSE00000521550.1,,,

In [38]:
@dataclass
class Data:
    name: str
    path: str


flipon_data = (
    Data("g4", D_FLIPONS_BED / "mm10.actb_ssdna_enriched_g4.bed"),
    Data("z-dna", D_FLIPONS_BED / "mm10.actb_ssdna_enriched_z-dna.bed"),
    Data("sidd", D_FLIPONS_BED / "mm10.actb_ssdna_enriched_sidd.bed"),
    Data("h-dna", D_FLIPONS_BED / "mm10.actb_ssdna_enriched_h-dna.bed"),
)

In [53]:
def get_overlaps_df(flipon_df: pd.DataFrame):
    overlaps_df: pd.DataFrame
    with tempfile.TemporaryDirectory() as tmpdir:
        # 1. Get transcript coordinates        
        transcript_list = flipon_df['Transcript ID'].unique()
        annotated_transcripts = gtf[(gtf['feature']=='transcript') & gtf['transcript_id'].isin(transcript_list)].drop_duplicates('transcript_id')[['seqname', 'start', 'end', 'transcript_id', 'score', 'strand']]

        # 2. Get TSS coordinates
        annotated_transcripts['end'] = annotated_transcripts.apply(lambda row: row['start']+1 if row['strand']=='+' else row['end'], axis=1)
        annotated_transcripts['start'] = annotated_transcripts.apply(lambda row: row['end']-1 if row['strand']=='-' else row['start'], axis=1)

        path_tss = tmpdir + '/tss.bed'
        annotated_transcripts.to_csv(path_tss, sep='\t', header=False, index=False)

        # 3. Get promoter coordinates
        path_proximal_promoters = tmpdir + '/proximal_promoters.bed'
        !bedtools slop -i {path_tss} -g {F_CHROM_SIZES} -r 999 -l 1000 -s > {path_proximal_promoters}

        # 4.1 Get 100 bp-windows
        path_windows = tmpdir + '/windows.bed'
        !bedtools makewindows -b {path_proximal_promoters} -w 100 -i srcwinnum > {path_windows}

        # 4.2. Reverse window numbers for + strand
        windows_df = pd.read_table(path_windows, header=None, names=['chr', 'start', 'end', 'window_name'])
        windows_df[['transcript_id', 'window_num']] = windows_df['window_name'].str.split('_', expand=True)
        windows_df = windows_df.merge(annotated_transcripts[['transcript_id', 'strand']].drop_duplicates(), how='left', on='transcript_id')

        new_windows = []
        for idx, group_df in windows_df.groupby('transcript_id', sort=False):
            if group_df.iloc[0,-1] == "+":
                group_df['window_num'] = [*range(-10, 0), *range(1, 11)]
            else:
                group_df['window_num'] = [*range(10, 0, -1), *range(-1, -11, -1)]
            new_windows.extend(group_df['window_num'].values)
        windows_df['window_num'] = new_windows
        windows_df['new_name'] = windows_df['transcript_id'] + '_' + windows_df['window_num'].astype(str)
        windows_df[['chr', 'start', 'end', 'new_name']].to_csv(path_windows, sep='\t', header=False, index=False)
        
        overlaps_df = pd.DataFrame()
        for flipon in flipon_data:
            path_to_intersection_count = tmpdir + f'/{flipon.name}_intersections.tsv'
            !bedtools intersect -a {path_windows} -b {flipon.path} -c > {path_to_intersection_count}

            print(flipon.name)
            !bedtools intersect -a {path_proximal_promoters} -b {flipon.path} -wo | wc -l
            
            df = pd.read_table(path_to_intersection_count, header=None, names=['Gene Chr', 'Gene Start', 'Gene End', 'Window Name', 'Count'])
            df['Flipon'] = flipon.name

            overlaps_df = pd.concat([overlaps_df, df], ignore_index=True)
        
        overlaps_df[['Gene Name', 'Window Num']] = overlaps_df['Window Name'].str.split('_', expand=True)

    return overlaps_df

In [54]:
overlaps_df_all = get_overlaps_df(flipon_to_data)
overlaps_df_all

g4
9809
z-dna
14009
sidd
1057
h-dna
2446

,Gene Chr,Gene Start,Gene End,Window Name,Count,Flipon,Gene Name,Window Num
0,chr1,3072253,3072353,ENSMUST00000193812.1_-10,0,g4,ENSMUST00000193812.1,-10
1,chr1,3072353,3072453,ENSMUST00000193812.1_-9,0,g4,ENSMUST00000193812.1,-9
...,...,...,...,...,...,...,...,...
1909518,chrY,4228380,4228480,ENSMUST00000189112.1_9,0,h-dna,ENSMUST00000189112.1,9
1909519,chrY,4228480,4228580,ENSMUST00000189112.1_10,0,h-dna,ENSMUST00000189112.1,10

In [55]:
overlaps_df_mirna = get_overlaps_df(flipon_to_data[flipon_to_data.filter(like='c. ').notna().sum(axis=1)>0])
overlaps_df_mirna

g4
8469
z-dna
11766
sidd
992
h-dna
2021

,Gene Chr,Gene Start,Gene End,Window Name,Count,Flipon,Gene Name,Window Num
0,chr1,3072253,3072353,ENSMUST00000193812.1_-10,0,g4,ENSMUST00000193812.1,-10
1,chr1,3072353,3072453,ENSMUST00000193812.1_-9,0,g4,ENSMUST00000193812.1,-9
...,...,...,...,...,...,...,...,...
1578478,chrY,4228380,4228480,ENSMUST00000189112.1_9,0,h-dna,ENSMUST00000189112.1,9
1578479,chrY,4228480,4228580,ENSMUST00000189112.1_10,0,h-dna,ENSMUST00000189112.1,10

### Flipon distribution

In [56]:
total_sum = np.zeros((4, 20))

for idx, group_df in tqdm(overlaps_df_all.groupby("Gene Name")):
    pivot_df = group_df.astype({"Window Num": int}).pivot_table(
        values=["Count"], index=["Flipon"], columns=["Window Num"], sort=True
    )
    total_sum += pivot_df.values

total_sum_df = pd.DataFrame(
    total_sum, index=["g4", "h-dna", "sidd", "z-dna"], columns=[*range(-10, 0), *range(1, 11)], dtype=int
)

total_sum_df.to_csv(D_TABLES / "total_window_flipons_all.tsv", sep='\t', index=True)
display(total_sum_df)

  0%|          | 0/23869 [00:00<?, ?it/s]

,-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,1,2,3,4,5,6,7,8,9,10
g4,163,161,227,255,314,386,549,703,1176,1782,942,1012,1002,875,769,621,483,410,340,267
h-dna,84,82,92,118,127,134,165,223,252,376,191,168,152,172,145,170,125,111,109,94
sidd,83,98,119,128,126,138,165,198,189,126,89,76,85,114,116,107,101,113,105,94
z-dna,183,244,244,293,445,578,677,896,1274,1935,1739,1458,1419,1200,1062,844,679,551,452,373

In [57]:
total_sum = np.zeros((4, 20))

for idx, group_df in tqdm(overlaps_df_mirna.groupby("Gene Name")):
    pivot_df = group_df.astype({"Window Num": int}).pivot_table(
        values=["Count"], index=["Flipon"], columns=["Window Num"], sort=True
    )
    total_sum += pivot_df.values

total_sum_df = pd.DataFrame(
    total_sum, index=["g4", "h-dna", "sidd", "z-dna"], columns=[*range(-10, 0), *range(1, 11)], dtype=int
)

total_sum_df.to_csv(D_TABLES / "total_window_flipons_mirna.tsv", sep='\t', index=True)
display(total_sum_df)

  0%|          | 0/19731 [00:00<?, ?it/s]

,-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,1,2,3,4,5,6,7,8,9,10
g4,136,141,188,218,270,329,477,619,1023,1544,818,883,865,760,635,522,419,356,295,244
h-dna,72,72,74,88,93,110,142,173,212,321,168,136,120,133,112,135,105,98,95,80
sidd,80,92,110,118,118,133,159,186,177,119,85,70,77,103,105,100,97,108,98,88
z-dna,155,206,210,241,390,496,570,762,1074,1600,1432,1188,1208,1005,883,725,567,475,395,318

### Pairwise sums

In [65]:
flipon_type_num = {"g4": 1, "h-dna": 2, "sidd": 3, "z-dna": 4}
flipon_num_type = {"1": "G", "2": "H", "3": "S", "4": "Z"}
# flipon_num_type = {str(val):key for key,val in flipon_type_num.items()}
counter = Counter()

for idx, group_df in tqdm(overlaps_df_all.groupby("Gene Name")):
    group_df["Count"] = group_df["Count"].apply(lambda x: int(x != 0))
    group_df["Count_type"] = group_df[["Flipon", "Count"]].apply(
        lambda x: flipon_type_num[x["Flipon"]] if x["Count"] != 0 else 0, axis=1
    )

    pivot_df = (
        group_df.astype({"Window Num": int})
        .pivot_table(
            values=["Count_type"], index=["Flipon"], columns=["Window Num"], sort=True
        )
        .astype(str)
    )

    pivot_sum = pivot_df.sum().str.replace("0", "")
    for col, val in zip(pivot_sum.index, pivot_sum.values):
        if val == "":
            continue
        counter[(col[1], val)] += 1

result = pd.DataFrame()
for idx, val in counter.items():
    result.loc[idx[1], idx[0]] = val

result = result.fillna('')
result = result.loc[:,sorted(result.columns)]
# result.columns = [f"[{c*100}, {(c-1)*100}]" for c in result.columns]
result = result.sort_index()
result.index = [' & '.join([flipon_num_type[y] for y in x]) for x in result.index]

with pd.option_context('display.max_rows', None):
    display(result)

  0%|          | 0/23869 [00:00<?, ?it/s]

,-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,1,2,3,4,5,6,7,8,9,10
G,106.0,99.0,141.0,178.0,189.0,258.0,343.0,443.0,734.0,993.0,566.0,646.0,664.0,592.0,539.0,425.0,332.0,291.0,253.0,190.0
G & H,14.0,14.0,13.0,19.0,15.0,18.0,34.0,51.0,83.0,129.0,37.0,32.0,30.0,31.0,27.0,31.0,19.0,15.0,11.0,19.0
G & H & S,1.0,,,,,,,,4.0,,,1.0,,,2.0,,4.0,1.0,,1.0
G & H & S & Z,,,,,,,,,1.0,5.0,,1.0,,,,,,,,
G & H & Z,3.0,2.0,2.0,4.0,4.0,4.0,4.0,9.0,12.0,33.0,16.0,5.0,5.0,4.0,2.0,4.0,2.0,3.0,2.0,
G & S,4.0,4.0,4.0,5.0,6.0,6.0,3.0,5.0,3.0,8.0,3.0,5.0,3.0,4.0,8.0,6.0,10.0,1.0,1.0,3.0
G & S & Z,,,,,,,,2.0,,,1.0,,2.0,,2.0,,2.0,,1.0,1.0
G & Z,30.0,31.0,45.0,39.0,75.0,69.0,119.0,137.0,248.0,434.0,253.0,257.0,223.0,188.0,141.0,125.0,85.0,73.0,47.0,38.0
H,41.0,45.0,45.0,68.0,77.0,85.0,91.0,111.0,108.0,126.0,94.0,91.0,87.0,90.0,83.0,90.0,74.0,68.0,65.0,59.0
H & S,6.0,8.0,13.0,8.0,8.0,7.0,14.0,24.0,10.0,20.0,15.0,18.0,13.0,14.0,15.0,16.0,7.0,11.0,5.0,4.0
H & S & Z,,2.0,1.0,1.0,,1.0,1.0,,1.0,1.0,,,,,1.0,2.0,,2.0,,
H & Z,4.0,3.0,7.0,4.0,9.0,9.0,9.0,13.0,16.0,25.0,17.0,9.0,9.0,13.0,5.0,6.0,6.0,3.0,9.0,1.0
S,72.0,82.0,98.0,109.0,110.0,118.0,144.0,159.0,163.0,88.0,61.0,48.0,63.0,87.0,82.0,78.0,76.0,96.0,96.0,83.0
S & Z,,1.0,2.0,5.0,1.0,6.0,3.0,8.0,7.0,4.0,9.0,3.0,4.0,6.0,6.0,5.0,1.0,2.0,2.0,2.0
Z,123.0,172.0,165.0,208.0,295.0,388.0,432.0,592.0,776.0,1057.0,1147.0,996.0,977.0,836.0,763.0,604.0,503.0,388.0,337.0,297.0

In [67]:
flipon_type_num = {"g4": 1, "h-dna": 2, "sidd": 3, "z-dna": 4}
flipon_num_type = {"1": "G", "2": "H", "3": "S", "4": "Z"}
# flipon_num_type = {str(val):key for key,val in flipon_type_num.items()}
counter = Counter()

for idx, group_df in tqdm(overlaps_df_mirna.groupby("Gene Name")):
    group_df["Count"] = group_df["Count"].apply(lambda x: int(x != 0))
    group_df["Count_type"] = group_df[["Flipon", "Count"]].apply(
        lambda x: flipon_type_num[x["Flipon"]] if x["Count"] != 0 else 0, axis=1
    )

    pivot_df = (
        group_df.astype({"Window Num": int})
        .pivot_table(
            values=["Count_type"], index=["Flipon"], columns=["Window Num"], sort=True
        )
        .astype(str)
    )

    pivot_sum = pivot_df.sum().str.replace("0", "")
    for col, val in zip(pivot_sum.index, pivot_sum.values):
        if val == "":
            continue
        counter[(col[1], val)] += 1

result = pd.DataFrame()
for idx, val in counter.items():
    result.loc[idx[1], idx[0]] = val

result = result.fillna('')
result = result.loc[:,sorted(result.columns)]
# result.columns = [f"[{c*100}, {(c-1)*100}]" for c in result.columns]
result = result.sort_index()
result.index = [' & '.join([flipon_num_type[y] for y in x]) for x in result.index]


with pd.option_context('display.max_rows', None):
    display(result)

  0%|          | 0/19731 [00:00<?, ?it/s]

,-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,1,2,3,4,5,6,7,8,9,10
G,87.0,88.0,118.0,157.0,162.0,221.0,302.0,387.0,633.0,847.0,476.0,558.0,562.0,505.0,446.0,353.0,292.0,253.0,218.0,173.0
G & H,12.0,12.0,10.0,14.0,10.0,16.0,32.0,45.0,70.0,112.0,35.0,27.0,26.0,27.0,19.0,27.0,17.0,14.0,8.0,17.0
G & H & S,1.0,,,,,,,,4.0,,,1.0,,,2.0,,3.0,1.0,,1.0
G & H & S & Z,,,,,,,,,1.0,4.0,,1.0,,,,,,,,
G & H & Z,2.0,1.0,2.0,2.0,3.0,2.0,4.0,9.0,10.0,32.0,15.0,3.0,3.0,4.0,2.0,3.0,1.0,3.0,2.0,
G & S,4.0,4.0,4.0,5.0,6.0,6.0,2.0,5.0,3.0,8.0,3.0,4.0,3.0,4.0,8.0,6.0,10.0,1.0,1.0,3.0
G & S & Z,,,,,,,,1.0,,,1.0,,2.0,,2.0,,2.0,,1.0,1.0
G & Z,25.0,26.0,35.0,30.0,66.0,58.0,96.0,117.0,222.0,375.0,224.0,226.0,202.0,165.0,115.0,110.0,68.0,61.0,43.0,34.0
H,33.0,40.0,35.0,48.0,56.0,68.0,73.0,77.0,87.0,96.0,77.0,70.0,67.0,67.0,64.0,67.0,61.0,58.0,55.0,48.0
H & S,6.0,7.0,10.0,7.0,7.0,7.0,14.0,21.0,9.0,19.0,15.0,15.0,11.0,11.0,10.0,14.0,7.0,11.0,5.0,4.0
H & S & Z,,2.0,1.0,1.0,,1.0,1.0,,1.0,1.0,,,,,1.0,2.0,,1.0,,
H & Z,4.0,2.0,6.0,4.0,8.0,8.0,7.0,11.0,14.0,23.0,16.0,9.0,5.0,9.0,5.0,5.0,6.0,2.0,8.0,
S,69.0,77.0,92.0,100.0,104.0,113.0,140.0,151.0,153.0,83.0,58.0,46.0,58.0,80.0,77.0,74.0,73.0,92.0,89.0,78.0
S & Z,,1.0,2.0,5.0,,6.0,2.0,8.0,6.0,4.0,8.0,3.0,3.0,5.0,5.0,4.0,1.0,2.0,2.0,1.0
Z,103.0,143.0,146.0,172.0,258.0,329.0,371.0,501.0,645.0,837.0,918.0,790.0,818.0,691.0,630.0,512.0,422.0,337.0,290.0,251.0

### Summary for all flipons

In [68]:
counter = Counter()

for idx, group_df in tqdm(overlaps_df_all.groupby("Gene Name")):
    group_df["Count"] = group_df["Count"].apply(lambda x: int(x != 0))

    pivot_df = group_df.pivot_table(
        values=["Count"], index=["Flipon"], columns=["Window Num"]
    )

    pivot_sum = pivot_df.sum()
    for col, val in zip(pivot_sum.index, pivot_sum.values):
        counter[(int(col[1]), val)] += 1

result = pd.DataFrame()
for idx, val in counter.items():
    result.loc[idx[1], idx[0]] = val
result = result.loc[:,sorted(result.columns)].sort_index().fillna('')

with pd.option_context('display.max_rows', None):
    display(result)

  0%|          | 0/23869 [00:00<?, ?it/s]

,-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,1,2,3,4,5,6,7,8,9,10
0,23465.0,23406.0,23333.0,23221.0,23080.0,22900.0,22672.0,22315.0,21703.0,20946.0,21650.0,21757.0,21789.0,22004.0,22193.0,22477.0,22748.0,22915.0,23040.0,23171.0
1,342.0,398.0,449.0,563.0,671.0,849.0,1010.0,1305.0,1781.0,2264.0,1868.0,1781.0,1791.0,1605.0,1467.0,1197.0,985.0,843.0,751.0,629.0
2,58.0,61.0,84.0,80.0,114.0,115.0,182.0,238.0,367.0,620.0,334.0,324.0,282.0,256.0,202.0,189.0,128.0,105.0,75.0,67.0
3,4.0,4.0,3.0,5.0,4.0,5.0,5.0,11.0,17.0,34.0,17.0,6.0,7.0,4.0,7.0,6.0,8.0,6.0,3.0,2.0
4,,,,,,,,,1.0,5.0,,1.0,,,,,,,,

In [69]:
counter = Counter()

for idx, group_df in tqdm(overlaps_df_mirna.groupby("Gene Name")):
    group_df["Count"] = group_df["Count"].apply(lambda x: int(x != 0))

    pivot_df = group_df.pivot_table(
        values=["Count"], index=["Flipon"], columns=["Window Num"]
    )

    pivot_sum = pivot_df.sum()
    for col, val in zip(pivot_sum.index, pivot_sum.values):
        counter[(int(col[1]), val)] += 1

result = pd.DataFrame()
for idx, val in counter.items():
    result.loc[idx[1], idx[0]] = val
result = result.loc[:,sorted(result.columns)].sort_index().fillna('')

with pd.option_context('display.max_rows', None):
    display(result)

  0%|          | 0/19731 [00:00<?, ?it/s]

,-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,1,2,3,4,5,6,7,8,9,10
0,19385.0,19328.0,19270.0,19186.0,19051.0,18896.0,18687.0,18398.0,17873.0,17290.0,17885.0,17978.0,17971.0,18163.0,18345.0,18554.0,18768.0,18895.0,19009.0,19120.0
1,292.0,348.0,391.0,477.0,580.0,731.0,886.0,1116.0,1518.0,1863.0,1529.0,1464.0,1505.0,1343.0,1217.0,1006.0,848.0,740.0,652.0,550.0
2,51.0,52.0,67.0,65.0,97.0,101.0,153.0,207.0,324.0,541.0,301.0,284.0,250.0,221.0,162.0,166.0,109.0,91.0,67.0,59.0
3,3.0,3.0,3.0,3.0,3.0,3.0,5.0,10.0,15.0,33.0,16.0,4.0,5.0,4.0,7.0,5.0,6.0,5.0,3.0,2.0
4,,,,,,,,,1.0,4.0,,1.0,,,,,,,,