In [1]:
import tempfile
import pandas as pd

from gtfparse import read_gtf
from Bio import SeqIO
from datapaths import *
from tqdm.notebook import tqdm

pd.set_option('display.max_rows', 4)
pd.set_option('display.max_columns', None)

In [2]:
flipon_to_data = pd.read_table(F_FLIPON_TO_DATA)
flipon_to_data

,Flipon,Coordinates,Strand,Gene Feature,Gene Name,Gene Strand,Gene Type,Gene ID,Transcript ID,c. M miR (+),c. M miR (-),c. MJ miR (+),c. MJ miR (-),c. J miR (+),c. J miR (-),all M miR (+),all M miR (-),all MJ miR (+),all MJ miR (-),all J miR (+),all J miR (-),cCRE (+-200bp),LINE/LTR (+-200bp),Feature Group
0,g4,chr1:3014794-3014871,-,Distal Intergenic,4933401J01Rik,+,TEC,ENSMUSG00000102693.1,ENSMUST00000193812.1,miR-328 (1),NaN,miR-486 (1),NaN,NaN,NaN,"miR-6994 (1), miR-129b (1)","miR-92a-2 (1), miR-698/miR-7078 (1), miR-3572 ...",miR-486a/miR-486b (1),"miR-3076 (1), miR-6418 (1), miR-6987 (1)",NaN,miR-7649 (1),NaN,"LINE@L1Md_F2(-), LINE@L1VL1(+)",LINE/LTR
1,g4,chr1:3099888-3099963,+,Promoter (2-3kb),Gm26206,+,snRNA,ENSMUSG00000064842.1,ENSMUST00000082908.1,NaN,miR-328 (1),NaN,NaN,NaN,NaN,"miR-365-1/miR-365-2 (1), miR-698/miR-7078 (1),...","miR-221 (1), miR-129b (1)","miR-6418 (1), miR-7067 (1)",NaN,NaN,NaN,NaN,"LINE@L1Md_F2(+), LTR@MTC(+)",LINE/LTR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77706,z-dna,chrY:4203100-4203146,.,Distal Intergenic,Gm28191,+,unprocessed_pseudogene,ENSMUSG00000100300.1,ENSMUST00000189112.1,NaN,NaN,miR-493 (1),NaN,NaN,NaN,"miR-466d/miR-466i (4), miR-466l (5)",NaN,miR-493 (1),NaN,NaN,NaN,NaN,LINE@L1_Mur1(-),LINE/LTR
77707,z-dna,chrY:4207093-4207113,.,Distal Intergenic,Gm28191,+,unprocessed_pseudogene,ENSMUSG00000100300.1,ENSMUST00000189112.1,NaN,NaN,NaN,NaN,NaN,NaN,"miR-466a/miR-466e/miR-466p (1), miR-466d/miR-4...",NaN,NaN,NaN,NaN,NaN,NaN,"LINE@L1_Mus3(+), LINE@L1Md_A(+), LTR@ORR1B1(+)",LINE/LTR

In [3]:
gtf = read_gtf(F_GENCODE)
gtf

/home/fpavlov/miniconda3/envs/mirna/lib/python3.11/site-packages/gtfparse/read_gtf.py:82: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  chunk_iterator = pd.read_csv(
/home/fpavlov/miniconda3/envs/mirna/lib/python3.11/site-packages/gtfparse/read_gtf.py:82: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  chunk_iterator = pd.read_csv(
INFO:root:Extracted GTF attributes: ['gene_id', 'gene_type', 'gene_name', 'level', 'mgi_id', 'havana_gene', 'transcript_id', 'transcript_type', 'transcript_name', 'transcript_support_level', 'tag', 'havana_transcript', 'exon_number', 'exon_id', 'protein_id', 'ccdsid', 'ont']

,seqname,source,feature,start,end,score,strand,frame,gene_id,gene_type,gene_name,level,mgi_id,havana_gene,transcript_id,transcript_type,transcript_name,transcript_support_level,tag,havana_transcript,exon_number,exon_id,protein_id,ccdsid,ont
0,chr1,HAVANA,gene,3073253,3074322,NaN,+,0,ENSMUSG00000102693.1,TEC,4933401J01Rik,2,MGI:1918292,OTTMUSG00000049935.1,,,,,,,,,,,
1,chr1,HAVANA,transcript,3073253,3074322,NaN,+,0,ENSMUSG00000102693.1,TEC,4933401J01Rik,2,MGI:1918292,OTTMUSG00000049935.1,ENSMUST00000193812.1,TEC,4933401J01Rik-201,NA,basic,OTTMUST00000127109.1,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302161,chrM,ENSEMBL,transcript,15356,15422,NaN,-,0,ENSMUSG00000064372.1,Mt_tRNA,mt-Tp,3,MGI:102478,,ENSMUST00000082423.1,Mt_tRNA,mt-Tp-201,NA,basic,,,,,,
1302162,chrM,ENSEMBL,exon,15356,15422,NaN,-,0,ENSMUSG00000064372.1,Mt_tRNA,mt-Tp,3,MGI:102478,,ENSMUST00000082423.1,Mt_tRNA,mt-Tp-201,NA,basic,,1,ENSMUSE00000521550.1,,,

In [23]:
def get_heptomers(path_fa: str, name: str) -> pd.DataFrame:
    with tempfile.TemporaryDirectory() as tmpdir:
        jellyfish_bc = tmpdir + f"/jellyfish.bc"
        jellyfish_jf = tmpdir + f"/jellyfish.jf"
        jellyfish_fa = tmpdir + f"/jellyfish.fa"
        !jellyfish bc -m 7 -s 1G -t 60 -o {jellyfish_bc} {path_fa}
        !jellyfish count -m 7 -s 100M -t 60 --bc {jellyfish_bc} -o {jellyfish_jf} {path_fa}
        !jellyfish dump {jellyfish_jf} > {jellyfish_fa}

        fasta = list(SeqIO.parse(jellyfish_fa, "fasta"))
        heptomers, counts = [], []
        for rec in fasta:
            heptomers.append(str(rec.seq))
            counts.append(rec.description)

        df = (
            pd.DataFrame(data={"heptomer": heptomers, "heptomer_count": counts})
            .astype({"heptomer_count": int})
            .sort_values("heptomer_count", ascending=False)
            .reset_index(drop=True)
        )
        df['col_lvl_0'] = name.split('_')[0]
        df['col_lvl_1'] = name.split('_')[1]
        df['col_lvl_2'] = name.split('_')[2]
        df['total_regions'] = int(name.split('_')[3])
        df['total_heptomers'] = len(heptomers)
        return df

In [24]:
def get_heptomers_for_flipons(flipon_type: str, mir: str):
    with tempfile.TemporaryDirectory() as tmpdir:
        # 1. Get flipon coordinates
        path_flipons = tmpdir + '/flipons.bed'
        path_flipons_fa = tmpdir + '/flipons.fa'

        flipons = flipon_to_data.copy()
        if mir == 'c. miR':
            flipons = flipons[(flipons.filter(like='c. ').notna().sum(axis=1) > 0)]
        if flipon_type!='Any flipon':
            flipons = flipons[flipons['Flipon'] == (flipon_type)]
        flipons = flipons['Coordinates'].str.split(r':|-', regex=True, expand=True)
        
        flipons.to_csv(path_flipons, sep='\t', header=False, index=False)
        !bedtools getfasta -bed {path_flipons} -fi {F_GENOME} > {path_flipons_fa}

        # 2. Get heptomer count
        heptomer_promoter_df = get_heptomers(path_flipons_fa, f"{flipon_type}_{mir}_Flipon_{flipons.shape[0]}")

        return heptomer_promoter_df


def get_heptomers_for_pp(transcript_id_list: list, name: str):
    with tempfile.TemporaryDirectory() as tmpdir:
        # 1. Get transcript coordinates        
        annotated_transcripts = gtf[(gtf['feature']=='transcript') & (gtf['transcript_id'].isin(transcript_id_list))].drop_duplicates('transcript_id')[['seqname', 'start', 'end', 'transcript_id', 'score', 'strand']]

        # 2. Get TSS coordinates
        annotated_transcripts['end'] = annotated_transcripts.apply(lambda row: row['start']+1 if row['strand']=='+' else row['end'], axis=1)
        annotated_transcripts['start'] = annotated_transcripts.apply(lambda row: row['end']-1 if row['strand']=='-' else row['start'], axis=1)

        path_tss = tmpdir + '/tss.bed'
        annotated_transcripts.to_csv(path_tss, sep='\t', header=False, index=False)

        # 3. Get promoter coordinates
        path_proximal_promoters = tmpdir + '/proximal_promoters.bed'
        path_proximal_promoters_fasta = path_proximal_promoters.replace('.bed', '.fa')
        !bedtools slop -i {path_tss} -g {F_CHROM_SIZES} -r 999 -l 1000 -s > {path_proximal_promoters}
        !bedtools getfasta -bed {path_proximal_promoters} -fi {F_GENOME} -s > {path_proximal_promoters_fasta}

        # 4. Get heptomer count
        heptomer_promoter_df = get_heptomers(path_proximal_promoters_fasta, f"{name}_{annotated_transcripts.shape[0]}")

        return heptomer_promoter_df

In [25]:
transcript_id_list = gtf[gtf['feature']=='transcript']['transcript_id'].unique()
name = "All_All regions_PP"
df_all_all_pp = get_heptomers_for_pp(transcript_id_list, name)
df_all_all_pp['heptomer_global_rank'] = df_all_all_pp.index + 1
df_all_all_pp

,heptomer,heptomer_count,col_lvl_0,col_lvl_1,col_lvl_2,total_regions,total_heptomers,heptomer_global_rank
0,TTTTTTT,233738,All,All regions,PP,81540,16384,1
1,AAAAAAA,216032,All,All regions,PP,81540,16384,2
...,...,...,...,...,...,...,...,...
16382,CGATACG,317,All,All regions,PP,81540,16384,16383
16383,CGTATCG,251,All,All regions,PP,81540,16384,16384

In [29]:
total_df = pd.DataFrame()

for x in tqdm(['Any flipon', 'g4', 'h-dna', 'sidd', 'z-dna']):
    for y in ['All regions', 'c. miR']:
        transcript_id_list = flipon_to_data.copy()
        if x != 'Any flipon':
            transcript_id_list = transcript_id_list[transcript_id_list['Flipon']==x]
        if y != 'All regions':
            transcript_id_list = transcript_id_list[transcript_id_list.filter(like='c. ').notna().sum(axis=1)>0]
        transcript_id_list = transcript_id_list['Transcript ID'].unique()
        name = f"{x}_{y}_PP"
        df_pp = get_heptomers_for_pp(transcript_id_list, name)
        
        df_flipon = get_heptomers_for_flipons(x, y)
        
        total_df = pd.concat([total_df, df_pp, df_flipon], ignore_index=True)

total_df = total_df.merge(df_all_all_pp[['heptomer', 'heptomer_global_rank']], on='heptomer', how='left')
total_df

  0%|          | 0/5 [00:00<?, ?it/s]

,heptomer,heptomer_count,col_lvl_0,col_lvl_1,col_lvl_2,total_regions,total_heptomers,heptomer_global_rank
0,AAAAAAA,59241,Any flipon,All regions,PP,23869,16384,2
1,TGTGTGT,57821,Any flipon,All regions,PP,23869,16384,3
...,...,...,...,...,...,...,...,...
258532,CGGACCT,2,z-dna,c. miR,Flipon,12348,3781,12664
258533,AAAAGCA,2,z-dna,c. miR,Flipon,12348,3781,629

In [32]:
pivot = (
    pd.concat([df_all_all_pp, total_df], ignore_index=True)
    .pivot_table(index="heptomer", columns=["col_lvl_0", "col_lvl_1", "col_lvl_2"], values=["heptomer_count"], sort=False)
    .droplevel(0, axis=1)
)

pivot.to_csv(D_TABLES / 'heptomer_counts.tsv', sep='\t')
pivot

col_lvl_0         All  Any flipon                                     g4  \
col_lvl_1 All regions All regions            c. miR          All regions
col_lvl_2          PP          PP   Flipon       PP   Flipon          PP
heptomer
TTTTTTT      233738.0     57213.0  27382.0  46891.0  18623.0     27101.0
AAAAAAA      216032.0     59241.0  29575.0  49570.0  19955.0     27469.0
...               ...         ...      ...      ...      ...         ...
CGATACG         317.0        75.0      NaN     69.0      NaN        45.0
CGTATCG         251.0        72.0      2.0     62.0      NaN        35.0

col_lvl_0                              h-dna                            \
col_lvl_1          c. miR        All regions            c. miR
col_lvl_2 Flipon       PP Flipon          PP   Flipon       PP  Flipon
heptomer
TTTTTTT      NaN  19192.0    NaN     23828.0  10953.0  10703.0  2775.0
AAAAAAA      4.0  19608.0    3.0     25259.0  11810.0  11477.0  2759.0
...          ...      ...    ...         ...      ...      ...     ...
CGATACG      NaN     35.0    NaN        19.0      NaN      9.0     NaN
CGTATCG      NaN     28.0    NaN        26.0      NaN     15.0     NaN

col_lvl_0        sidd                                  z-dna                  \
col_lvl_1 All regions            c. miR          All regions          c. miR
col_lvl_2          PP   Flipon       PP   Flipon          PP Flipon       PP
heptomer
TTTTTTT       26063.0  16429.0  25464.0  15848.0     25294.0    NaN  16799.0
AAAAAAA       28619.0  17761.0  28001.0  17193.0     25775.0    NaN  17485.0
...               ...      ...      ...      ...         ...    ...      ...
CGATACG          23.0      NaN     22.0      NaN        45.0    NaN     27.0
CGTATCG          30.0      NaN     30.0      NaN        38.0    NaN     26.0

col_lvl_0
col_lvl_1
col_lvl_2 Flipon
heptomer
TTTTTTT      NaN
AAAAAAA      NaN
...          ...
CGATACG      NaN
CGTATCG      NaN

[16384 rows x 21 columns]

In [ ]:
total_pivot = (
    heptomer_total_df.pivot_table(
        index="heptomer", columns=["Data", "Description", "number_type"], values=["value"],
    )
    .astype(pd.Int32Dtype())
    .droplevel(0, axis=1)
    .sort_values(('0.promoters', 'all mouse (55,401)', 'heptomer_rank'))
)

total_pivot.to_csv(D_TABLES / 'promoter_ranks.tsv', sep='\t')
total_pivot

Data               0.promoters                                            \
Description all mouse (55,401)               with flipons & miR (15,515)
number_type    heptomer_counts heptomer_rank             heptomer_counts
heptomer
AAAAAAA                 158560             1                       41141
TTTTTTT                 153693             2                       36769
...                        ...           ...                         ...
CGATACG                    180         16383                          48
CGTATCG                    169         16384                          51

Data                                                           \
Description               with flipons (21,356)
number_type heptomer_rank       heptomer_counts heptomer_rank
heptomer
AAAAAAA                 1                 56065             1
TTTTTTT                 3                 50889             2
...                   ...                   ...           ...
CGATACG             16382                    66         16384
CGTATCG             16381                    68         16383

Data                           g4                                              \
Description flipons & miR (2,323)               flipons (5,721)
number_type       heptomer_counts heptomer_rank heptomer_counts heptomer_rank
heptomer
AAAAAAA                         1          3915               1          5434
TTTTTTT                      <NA>          <NA>            <NA>          <NA>
...                           ...           ...             ...           ...
CGATACG                      <NA>          <NA>            <NA>          <NA>
CGTATCG                      <NA>          <NA>            <NA>          <NA>

Data                      h-dna                                              \
Description flipons & miR (226)               flipons (1,537)
number_type     heptomer_counts heptomer_rank heptomer_counts heptomer_rank
heptomer
AAAAAAA                       8           102            1326             5
TTTTTTT                       4           198            1276             6
...                         ...           ...             ...           ...
CGATACG                    <NA>          <NA>            <NA>          <NA>
CGTATCG                    <NA>          <NA>            <NA>          <NA>

Data                       sidd                                              \
Description flipons & miR (720)                 flipons (779)
number_type     heptomer_counts heptomer_rank heptomer_counts heptomer_rank
heptomer
AAAAAAA                    1266             1            1362             1
TTTTTTT                    1060             2            1184             2
...                         ...           ...             ...           ...
CGATACG                    <NA>          <NA>            <NA>          <NA>
CGTATCG                    <NA>          <NA>            <NA>          <NA>

Data                        z-dna
Description flipons & miR (1,288)               flipons (8,245)
number_type       heptomer_counts heptomer_rank heptomer_counts heptomer_rank
heptomer
AAAAAAA                      <NA>          <NA>            <NA>          <NA>
TTTTTTT                      <NA>          <NA>            <NA>          <NA>
...                           ...           ...             ...           ...
CGATACG                      <NA>          <NA>            <NA>          <NA>
CGTATCG                      <NA>          <NA>            <NA>          <NA>

[16384 rows x 22 columns]

In [ ]:
seed_total_pivot = total_pivot.loc[total_pivot.index.isin(mirna_list['Seed region']) | total_pivot.index.isin(mirna_list['Seed region (RC)']),:]

seed_total_pivot.to_csv(D_TABLES / 'promoter_ranks_seed.tsv', sep='\t')
seed_total_pivot

Data               0.promoters                                            \
Description all mouse (55,401)               with flipons & miR (15,515)
number_type    heptomer_counts heptomer_rank             heptomer_counts
heptomer
GGAGAGA                  24594           110                        7148
GTTTGTT                  24299           117                        5482
...                        ...           ...                         ...
CGTACCG                    403         16347                          96
CGGTACG                    391         16352                          96

Data                                                           \
Description               with flipons (21,356)
number_type heptomer_rank       heptomer_counts heptomer_rank
heptomer
GGAGAGA                97                  9824            99
GTTTGTT               291                  7515           301
...                   ...                   ...           ...
CGTACCG             16344                   145         16342
CGGTACG             16346                   126         16359

Data                           g4                                              \
Description flipons & miR (2,323)               flipons (5,721)
number_type       heptomer_counts heptomer_rank heptomer_counts heptomer_rank
heptomer
GGAGAGA                        24           568              24          1102
GTTTGTT                      <NA>          <NA>            <NA>          <NA>
...                           ...           ...             ...           ...
CGTACCG                      <NA>          <NA>            <NA>          <NA>
CGGTACG                      <NA>          <NA>            <NA>          <NA>

Data                      h-dna                                              \
Description flipons & miR (226)               flipons (1,537)
number_type     heptomer_counts heptomer_rank heptomer_counts heptomer_rank
heptomer
GGAGAGA                      82            15              82            82
GTTTGTT                       2           361               2           838
...                         ...           ...             ...           ...
CGTACCG                    <NA>          <NA>            <NA>          <NA>
CGGTACG                    <NA>          <NA>            <NA>          <NA>

Data                       sidd                                              \
Description flipons & miR (720)                 flipons (779)
number_type     heptomer_counts heptomer_rank heptomer_counts heptomer_rank
heptomer
GGAGAGA                      13          1451              13          1559
GTTTGTT                      46           188              46           205
...                         ...           ...             ...           ...
CGTACCG                    <NA>          <NA>            <NA>          <NA>
CGGTACG                    <NA>          <NA>            <NA>          <NA>

Data                        z-dna
Description flipons & miR (1,288)               flipons (8,245)
number_type       heptomer_counts heptomer_rank heptomer_counts heptomer_rank
heptomer
GGAGAGA                      <NA>          <NA>            <NA>          <NA>
GTTTGTT                      <NA>          <NA>            <NA>          <NA>
...                           ...           ...             ...           ...
CGTACCG                      <NA>          <NA>            <NA>          <NA>
CGGTACG                      <NA>          <NA>            <NA>          <NA>

[422 rows x 22 columns]